.settings{
    display: flex;
    flex-direction: column;
}

.gameFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game{
    margin: 1rem 1rem;
    border: 1px solid black;
}