.settings{
    display: flex;
    justify-content: space-around;
}

.gameFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.testerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startButton{
    width: 40%;
    height: 5vh;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game{
    position: relative;
    margin: 1rem 1rem;
    border: 1px solid black;
}

